.docus{
    
    padding:20px;
    /* display: flex; */
    display: inline-block;
    text-align: left;
    text-align: center;
    justify-content:space-around;
}
.doc-container{
    display: flex;
    float: right;
    text-align: center;
    justify-content:space-around;
    padding-bottom: 30px;
}
.add-button{
    float: right;
}
#back-button{
    display:none;
}
.fav-button{
    border-radius: 2px;
}
.Favourite{
    margin:5px;
}
.card-container{
    margin-top:10%;
}